/* .logoContainer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#introducao {
  margin-bottom: 60px;
}
#titlebg {
  background-color: var(--body-color);
}
.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titlecontainer img {
  width: 150px;
  height: 150px;
}

.titlecontainer h1 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  text-shadow: var(--secondtext-color) 0px 0px 10px;
}

#mainAcademy section h1,
p,
li {
  color: var(--text-color);
}

.tvContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
