.sobremimsec {
  background-color: var(--body-color);
}

.sobreMim {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 100%;
  justify-content: center;
  padding: 3rem 0px;
}
.sobreMim h2 {
  font-size: 2rem;
  color: var(--text-color);
}
.dark .sobreMim h2 {
  text-shadow: var(--secondtext-color) 0px 0px 10px;
}
.aboutmeText {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  font-size: 1.2rem;
  align-items: center;
  padding-bottom: 5rem;
}
.aboutmeText .svgContainer {
  display: flex;
  justify-content: center;
}
.svgContainer img {
  width: 300px;
  height: 300px;
}
.rotate {
  animation: spin 10s linear infinite;
}
.iconchanger svg {
  fill: var(--text-color);
}
.dark .iconchanger svg {
  filter: drop-shadow(0 0 10px var(--secondtext-color));
}
.aboutmeText p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}

@media (max-width: 790px) {
  .svgContainer img {
    display: none;
  }
  .aboutmeText {
    width: 80%;
    margin: 0px auto;
    display: block;
    text-align: center;
  }
}
